commands:
  02_changing_web.stdout.log_perms:
    command: touch /var/log/web.stdout.log
  04_changing_web.stdout.log_perms:
    command: chmod 666 /var/log/web.stdout.log

files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: WSGIApplicationGroup %{GLOBAL}
