<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link href="../static/css/chat.css" rel="stylesheet">
    </head>
    <body>
        <a href="#popup1">
            <div class="fab-wrapper">
                <label class="fab" for="fabCheckbox">
                </label>
                </div>
            </div>
        </a>
        <div id="popup1" class="overlay">
            <div class="popup">
                <!-- <h2>Here i am</h2> -->
                <a class="close" href="#">&times;</a>
                <br/><br/>
                <div class="content">
                    Thank to pop me out of that button, but now i'm done so you can close this window.
                </div>
            </div>
        </div>
        <div>
            
        </div>
    </body>
</html>