<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chrone - Google Business Create</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../static/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="../static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
    <script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../static/images/favicon.png" />
    <script src="https://kit.fontawesome.com/a40af5c449.js" crossorigin="anonymous"></script>
    <script src="../static/js/common/login.js"></script>
  </head>
  <body class="sidebar-hidden">
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="https://chrone.work/dashboard"><img src="../static/img/chrone.svg" alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="p-0 navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button">
            
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <div class="main-panel">
          <div class="row mt-3 h-100">
            <h2>Create Google Business Profile</h2>
            <div class="col-lg-12 d-flex grid-margin stretch-card" id="review_reply">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-wrap justify-content-between">
                    <h4 class="card-title mb-3">Business Information</h4>
                  </div>
                  <div class="form-sample">
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label>Phone Number</label>
                      <div class="d-flex">
                        <select name="countryCode" class="form-control" id="country_code" style="max-width: 120px;">
                          <option data-countryCode="US" selected value="1">USA (+1)</option>
                          <option data-countryCode="CA" value="1">Canada (+1)</option>
                          <option data-countryCode="IN" value="91">India (+91)</option>
                        </select>
                        <input type="phone" class="form-control" id="phone_numer" placeholder="Phone Number">
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <input type="text" class="form-control" id="description" placeholder="Description">
                    </div>
                    <div class="form-group">
                      <label>Category</label>
                      <input type="text" class="form-control" id="categories" placeholder="Categories">
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex flex-wrap justify-content-between">
                    <h4 class="card-title mb-3">Business Location</h4>
                  </div>
                  <div class="form-sample">
                    <div class="form-group">
                      <label>Map</label>
                      <input type="text" class="form-control" id="serviceName" placeholder="Service name">
                    </div>
                  </div>
                </div>
                <button type="button" id="submit-btn" style="margin: auto;" disabled class="btn btn-primary mb-5">Create</button>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer d-md-flex d-none">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.chrone.app/" target="_blank">Chrone</a> 2022</span>
              <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard </a>templates from Bootstrapdash.com</span> -->
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

    <!-- container-scroller -->
    <!-- base:js -->
    <script src="../static/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../static/js/off-canvas.js"></script>
    <script src="../static/js/hoverable-collapse.js"></script>
    <script src="../static/js/template.js"></script>
    <script src="../static/js/settings.js"></script>
    <script src="../static/js/todolist.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="../static/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../static/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="../static/js/create_listing.js"></script>
    <!-- End custom js for this page-->
    <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/22508010.js"></script>
    <script type="text/javascript" src="../static/js/hubspot_chat.js"></script> -->
    <!-- End of HubSpot Embed Code -->
  </body>
</html>