<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="width: 100%;">
<div class="w3-container">

    <h2>Review Goal</h2>
    <div>
        <p>Based on the top salon profiles in your area, your goal is</p>
        <h2 style = "text-align:center;">60</h2>
        <p>You currently have <b>20</b> reviews</p>
    </div>
    </div>
    <div class="w3-container">
    <div>
        <h2>Review Invites</h2>
        <p>We recommend sending <b>100</b> invites this month to achieve this goal</p>
    </div>
    <div>
        <div class="w3-border" style="width: 90%;">
            <div class="w3-blue" style="height:24px;width:17%;text-align: center;"><b>17</b></div>
        </div>
        <div>
            17/100
        </div>
    </div>
    </div>
</body>
</html>
