<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chrone - Google Business</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../static/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="../static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../static/images/favicon.png" />
    <script src="https://kit.fontawesome.com/a40af5c449.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="col-12 sms_major">
        <a href="https://chrone.test-app.link/newtest">l1</a>
        <a href="https://chrone.app.link/deep?token=rankdom1234">l2</a>
        <a href="https://chrone.onelink.me/FN1q/x4weioc1">l3</a>
        <!-- <a href="https://chrone.test-app.link/newtest">l4</a>
        <a href="https://chrone.test-app.link/newtest">l5</a> -->
    </div>
    <br>
    <div class="col-12 sms_major">
      <a href="chrone://">ooo1</a>
      <a href="chrone://route1">ooo2</a>
      <a href="chrone://route2?random=5&key=value">ooo3</a>
    </div>
  </body>
</html>